**/*.svg
package.json

/dist
/node_modules
.dockerignore
.DS_Store
.eslintignore
*.jpg
*.ico
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
*.gif
.idea
.vscode
.npmrc
*.local
stats_rollup.html
.env
.husky
